<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/redirect400-style.css">
    <link rel="stylesheet" href="./css/cadastro-style.css" />
    <link rel="stylesheet" href="./css/padrao-style.css" />
    <link rel="stylesheet" href="./css/consultCep-style.css" />
    <script src="./js/cadastroImg.js" defer ></script>
    <script src="./js/consultCep.js" defer ></script>
    <script src="./js/FormularioCadastro.js" defer></script>    
    <title>Bella Forma - {{title}}</title>
</head>