    <div class="flex-centralizar fundo-black" id="popup-error" style="display: none;">
        <div class="formatacao-popup">
            <p id="text-error">error sobre tudo menos nada</p>
            <button type="button">OK</button>
        </div>
    </div>