<main id="page-cadastro" class="flex-centralizar">
    <form id="formulario-cadastro" class="flex-centralizar" action="/add-user" method="POST">
        <section id="container-img" class="flex-centralizar">
            <figure class="flex-centralizar">
                <h3>
                    Let's Make it Happen Together!
                </h3>
                <div style="background-image: url('http://localhost:{{port}}/files/{{avatar}}')"></div>
            </figure>
        </section>
        <section id="container-formulario">
            <header>
                <img src="" alt="">
                <p>Já é cadastrado? <a href="">Clique aqui!</a></p>
            </header>
            <main>
                <h1>Criar uma Conta</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="nome">Nome:</label>
                                <input type="text" name="nome" id="nome"  required/>
                            </td>
                            <td>
                                <label for="sobrenome">Sobrenome:</label>
                                <input type="text" name="sobrenome" id="sobrenome" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email:</label>
                                <input type="text" name="email" id="email" required />
                            </td>
                            <td>
                                <label for="endereco">Endereço:</label>
                                <input type="text" name="endereco" id="endereco" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="senha">Senha:</label>
                                <input type="password" name="senha" id="senha" required/>
                            </td>
                            <td>
                                <label for="confirmarSenha">Confirmar Senha:</label>
                                <input type="password" name="confirmarSenha" id="confirmarSenha" required/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="checkbox" name="term" id="term" required/>
                                <label for="term">criando sua conta e aceitando os <a href="">termos e condições</a></label>
                            </td>
                        </tr>
                        <tr>
                            <td id="botao-criar-conta">
                                <p>Criar Conta</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="" alt="">
                                <p>Cadastra-se usando o Twitter.</p>                          
                            </td>
                            <td>
                                <img src="" alt="">
                                <p>Cadastra-se usando o Twitter.</p>                          
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>&copy;Copyright {{ano}} - Evandro Barros</td>
                        </tr>
                    </tfoot>
                </table>
            </main>
        </section>
    </form>
    <form action="/upload-img" enctype="multipart/form-data" method="POST" id="container-upload" class="flex-centralizar fundo-black" style="display: none;">
        <div class="flex-centralizar">
            <input type="file" name="img-perfil" /> 
            <img src="./img/icones/envio.png" alt="">
        </div>
    </form>
    {{>poupError}}
    {{>consultCep}}
</main>
